*{
    margin: 0px;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

body{
    background: linear-gradient(135deg, #ff00b7, #2648ceca);
    
    
}

.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin:300px auto;
    display: flex;
    align-items: center;
}

.input-box input{
    width: 100%;
    padding: 10px 0px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #555;

}

.input-box img{
    width: 30px;  
    cursor: pointer;
}

.heading{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.heading h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}

.heading span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(5, 179, 213);
}


@media screen and (max-width: 768px) {
   

    .input-box {
       
        width: 90%;
        margin: 100px auto; /* Adjust the margin for better placement */
    }

     .heading {
    
        width: 80%; 
        margin-left: 5%; 
        margin-top: 5%;
    }

    .heading h1{
        font-size: 40px;
    }
}
